button{
    padding: 28px;
    background-color: palevioletred;
    color: white;
    border-radius: 15px;

    cursor: pointer;
}

button:hover{
    background-color: red;
}

body{
    background-image: url(/Pertemuan/pertemuan2/roblox.png);
    background-repeat: no-repeat;
    background-position: center;
}