@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

p{
    font-family: "Roboto Mono", serif;
    font-weight: 700;
}
.merah {
    color: red;
}

#blue {
    color: blue;
}

[title] {
    color: blue;
}

a:hover{
    color: aqua;
}

h1 {
    color: palevioletred;
    font-size: 5rem;
}

p{
    border: ;
    padding-block: 30px;
    margin: 50px;
}